# Node modules
node_modules/

# Build output
dist/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
*.swp
*.bak

# React and parcel-bundler cache
.cache/
.parcel-cache/

# dotenv environment variables file
.env