@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+IS:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --app-primary-color: rgb(96, 108, 56);
    --app-secondary-color: rgb(40, 54, 24);
    --app-third-color: rgb(254, 250, 224);
    --app-light-color: rgb(221, 161, 94);
    --app-evidenced-color: rgb(188, 108, 37);

    --app-color-white: #FFF8E1;
    --app-color-selected: #2281ee;
    --app-color-black: #161616;
}

.container-web {
    height: 100dvh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    will-change: clip-path;
    transition: clip-path 2s cubic-bezier(0.999, 0.025, 0.675, 0.19); 
}

.open {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (min-width: 1200px) {
    .container-web {
        clip-path: circle(0% at 50% 50%);
        transition: clip-path 2.5s cubic-bezier(0.999, 0.025, 0.675, 0.19);
    }

    .open {
        clip-path: circle(125% at 50% 50%);
    }
}

.clip-path-removed {
    clip-path: none;
    transition: none;
    will-change: none;
}

.container-web::-webkit-scrollbar {
    width: 0px;
}