* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --app-primary-color: #606c38;
    --app-secondary-color: #283618;
    --app-third-color: #fefae0;
    --app-light-color: #dda15e;
    --app-evidenced-color: #bc6c25;

    --app-color-white: #FFF8E1;
    --app-color-black: #161616;
}

body.light {
    --app-primary-color: #606c38;
    --app-secondary-color: #283618;
    --app-third-color: #fefae0;
    --app-light-color: #dda15e;
    --app-evidenced-color: #bc6c25;

    --app-color-white: #FFF8E1;
    --app-color-black: #161616;
}

body.dark {
    --app-primary-color: #374520;
    --app-secondary-color: #1a2410;
    --app-third-color: #2c2c26;
    --app-light-color: #87512c;
    --app-evidenced-color: #663314;

    --app-color-white: #161616;
    --app-color-black: #FFF8E1;
}

.container-web{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}