.card {
    width: clamp(100px, 85vw, 350px);
    border-radius: 4vw;
    overflow: hidden;
    box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card-content {
    padding: 4vw;
}

.card-title {
    font-family: "Lilita One", serif;
    font-size: clamp(18px, 3vh, 40px);
    font-weight: 200;
    margin-bottom: 8px;
}

.card-description {
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: clamp(14px, 2.3vh, 35px);
    margin-bottom: 16px;
}

.card-container-action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-action {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding: 2.2% 10% 2% 10%;
    border: 2px solid var(--app-primary-color);
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: clamp(13px, 2.5vw, 15px);
    color: var(--app-primary-color);
    cursor: pointer;
    user-select: none;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 1s ease-out;
}

.card-action > i,
.card-action > span {
    z-index: 2;
    user-select: none;
    outline: none;
}

.card-action.card-hover > i,
.card-action.card-hover > span {
    z-index: 2;
    color: white;
    transition: all 1s ease-out;
}

.card-action > i {
    font-size: 1.2cap;
}

.ripple {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 1s ease-out;
    pointer-events: none;
    outline: none;
}

.card-action.card-hover .btn-hover {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--app-primary-color);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    animation: hover-effect 0.6s ease-out forwards;
}

@keyframes ripple-effect {
    to {
        transform: scale(15);
        opacity: 0;
    }
}

@keyframes hover-effect {
    to {
        transform: scale(20);
        opacity: 1;
    }
}