.card-large {
    width: 60vw;
    height: 80vh;
    min-height: 500px;
    transition: transform 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large{
    width: clamp(560px, 80vw, 800px);
    height: clamp(450px, 75vh, 1000px);
}

.card-large:hover {
    transform: scale(1.05);
}

.card-large .container-img {
    position: absolute;
    z-index: 4;
    height: 62%;
    width: 50%;
    top: 19%;
    left: 0;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

.card-large 
.card-content {
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.1);
    border-radius: clamp(16px, 1.5vw, 30px);
    width: 80%;
    height: 60%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 20vw;
}

.large
.card-content {
    padding-left: clamp(190px, 27vw, 270px);
}

.card-large 
.card-content
.card-container-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.card-large 
.card-content
.card-container-text
.card-title {
    font-family: "Lilita One", serif;
    font-size: clamp(18px, 1.8vw, 30px);
    font-weight: 200;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

.big-text-title{
    font-size: clamp(40px, 5vw, 70px) !important;
}

.card-large 
.card-content
.card-container-text
.card-description {
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 20px);
    margin-bottom: 16px;
}

.big-text-description{
    font-size: clamp(25px, 2.5vw, 38px) !important;
}

.card-large 
.card-content
.card-container-text
.card-container-action{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: end;
}

.hidden{
    display: none;
}