.content-where-are-mobile{
    width: 100%;
    display: flex;
    background-color: var(--app-third-color);
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    padding-top: 5dvh;
    padding-bottom: 5dvh;
}

.container-paragraph-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(10px, 5vw, 24px);
}

.container-cell-img-mobile{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5dvh;
}