.content-where-are-mobile{
    width: 100%;
    display: flex;
    background-color: var(--app-third-color);
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.container-paragraph-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(10px, 5vw, 24px);
}

.container-cell-img-mobile{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.content-where-are-pc{
    width: 100%;
    display: flex;
    background-color: var(--app-third-color);
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.container-paragraph-pc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(10px, 5vw, 24px);
    padding-left: 5vw;
}

.container-carusel-pc{
    width: 100%;
    height: 70vh;
    display: flex;
}

.container-arrow-right-pc,
.container-arrow-left-pc{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cell-img-pc{
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.arrow{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    border: 1px solid var(--app-color-black);
    background-color: var(--app-color-white);
    color: var(--app-color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-navigation {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .carousel-dot.active {
    width: 14px;
    height: 14px;
    background-color: var(--app-color-selected);
  }
