.container-page{
    height: 100%;
    width: 100vw;
    background-color: var(--app-third-color);
    display: flex;
    flex-direction: column;
}

.container-paralax-effect{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}