.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  border-radius: 8px;
  overflow: hidden;
}

.img-container-default {
  width: 50px;
  height: 50px;
}

.image-container picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container.loaded picture {
  opacity: 1;
}

.image-container .fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #333;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fallback::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(204,204,204);
  background: linear-gradient(90deg, rgba(204,204,204,0) 35%, rgba(176,223,222, 0.8) 100%);
  animation: waveAnimation 2s ease infinite;
}

@keyframes waveAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

.fallback.error::after {
  display: none;
}

img {
  height: 100%;
  width: 100%;
}

.zoom-effect img{
  transform: scale(1);
  transition: all ease 0.5s;
}

.zoom-effect img:hover{
  transform: scale(1.1);
  transition: all ease 0.5s;
}