.container-paralax {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: contain;
}

.gradient-for-background{
    height: 20vh;
    width: 100vw;
    background: linear-gradient(to bottom, transparent 0%, var(--app-third-color) 100%);
    position: absolute;
    bottom: -2px;
    left: 0;
    border: 0px;
    margin: 0px;
    z-index: 10;
}

.error-load{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    line-height: 0vh;
    background-color: var(--app-light-color);
}

.error-load > .first-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 11vw, 450px);
    transform: translateY(-2vh);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
}

.error-load > .second-title {
    margin-top: clamp(40px, 10vw, 450px);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 8vw, 360px);
    transform: translateY(-2vh);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.error-load > b {
    margin-top: clamp(40px, 12vw, 450px);;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(40px, 14vw, 500px);
    text-shadow: 5px 3px 2px rgba(0,0,0,0.6);
    transform: translateY(-2vh);
}

.cielo-img-mobile{
    height: 100vh;
    width: auto;
    transform: rotate(180deg);
    z-index: 1;
    will-change: transform;
}

.nuvola-img-mobile{
    position: absolute; 
    right: -10%; 
    top: -5%; 
    width: 100vw; 
    min-width: 300px;
    height: auto;
    z-index: 2;
    will-change: transform;
}

.fog-2-img-mobile{
    position: absolute; 
    right: -20vw; 
    bottom: 0%; 
    width: 180vw;
    min-width: 800px;
    height: auto;
    z-index: 3;
    will-change: transform;
}

.secondo-piano-img-mobile{
    position: absolute;
    left: -50vw;
    bottom: -10vh;
    width: 220vw;
    min-width: 800px;
    height: auto;
    z-index: 4;
    will-change: transform;
}

.laghetto-img-mobile{
    position: absolute;
    left: -50vw; 
    bottom: -10vh;
    width: 220vw;
    min-width: 800px;
    height: auto;
    z-index: 5;
    will-change: transform;
}

.fog-1-img-mobile{
    position: absolute; 
    left: -50vw;
    bottom: -13vh; 
    width: 220vw; 
    min-width: 800px;
    height: auto;
    z-index: 6;
    will-change: transform;
}

.sun-img-mobile{
    position: absolute;
    left: -50%; 
    top: 0;
    width: auto; 
    height: 100vh;
    transform: rotate(270deg);
    z-index: 7;
    will-change: transform;
}

.title-img-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    line-height: 0vh;
    z-index: 8;
    will-change: transform;
}

.title-img-mobile > .first-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 12vw, 150px);
    transform: translateY(-2vh);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
}

.title-img-mobile > .second-title {
    margin-top: clamp(40px, 10vw, 150px);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(34px, 8vw, 150px);
    transform: translateY(-2vh);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.title-img-mobile > b {
    margin-top: clamp(40px, 12vw, 150px);;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(40px, 15vw, 150px);
    text-shadow: 5px 3px 2px rgba(0,0,0,0.6);
    transform: translateY(-2vh);
}

.front-img-mobile {
    width: 220vw; 
    min-width: 800px;
    height: auto;
    position: absolute;
    left: -50vw; 
    bottom: -10vh;
    z-index: 9;
    will-change: transform;
}

.cielo-img-tablet{
    height: 100vh;
    width: 100vw;
    transform: rotate(180deg);
    z-index: 1;
}

.nuvola-img-tablet{
    position: absolute; 
    right: -5vw; 
    top: -5vh; 
    width: 80vw; 
    min-width: 600px;
    height: auto;
    z-index: 2;
}

.fog-2-img-tablet{
    position: absolute; 
    right: -50vw; 
    bottom: 0; 
    width: 200vw; 
    min-width: 1000px;
    height: auto;
    z-index: 3;
}

.secondo-piano-img-tablet{
    position: absolute;
    left: -50vw;
    bottom: -20vh;
    width: 200vw;
    min-width: 1100px;
    height: auto;
    z-index: 4;
}

.laghetto-img-tablet {
    position: absolute;
    left: -50vw; 
    bottom: -20vh;
    width: 200vw;
    min-width: 1100px;
    height: auto;
    z-index: 5;
}

.fog-1-img-tablet{
    position: absolute; 
    left: -50vw;
    bottom: -20vh; 
    width: 200vw; 
    min-width: 1100px;
    height: auto;
    z-index: 6;
}

.sun-img-tablet{
    position: absolute;
    left: -50vw; 
    top: -5vh;
    width: 120vw; 
    height: auto;
    transform: rotate(270deg);
    z-index: 7;
}

.title-img-tablet {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    line-height: 0vh;
    z-index: 8;
}

.title-img-tablet > .first-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 10vw, 150px);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
}

.title-img-tablet > .second-title {
    margin-top: clamp(40px, 8vw, 150px);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 6.5vw, 150px);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.title-img-tablet > b {
    margin-top: clamp(40px, 11vw, 150px);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(40px, 13vw, 150px);
    text-shadow: 5px 3px 2px rgba(0,0,0,0.6);
}

.front-img-tablet {
    width: 200vw; 
    min-width: 1100px;
    height: auto;
    position: absolute;
    left: -50vw; 
    bottom: -20vh;
    z-index: 9;
}

.cielo-img-pc {
    height: 100vh;
    width: 100vw;
    transform: rotate(180deg);
    z-index: 1;
}

.nuvola-img-pc {
    position: absolute; 
    right: -10%; 
    top: -5%; 
    width: 75vw; 
    height: auto;
    z-index: 2;
}

.fog-2-img-pc {
    position: absolute; 
    right: -10vw; 
    top: -20%; 
    width: 120vw; 
    height: auto;
    z-index: 3;
}

.secondo-piano-img-pc {
    position: absolute;
    left: -10vw;
    bottom: -40%;
    width: 120vw;
    height: auto;
    z-index: 4;
}

.laghetto-img-pc {
    position: absolute;
    left: -10vw; 
    bottom: -40%;
    width: 120vw;
    height: auto;
    z-index: 5;
}

.fog-1-img-pc {
    position: absolute; 
    left: -20vw;
    bottom: -10vh; 
    width: 140vw; 
    height: auto;
    z-index: 6;
}

.sun-img-pc {
    position: absolute;
    left: -50vw; 
    top: -30%;
    width: 120vw; 
    height: auto;
    transform: rotate(270deg);
    z-index: 7;
}

.title-img-pc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    line-height: 0vh;
    z-index: 8;
}

.title-img-pc > .first-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 10vw, 150px);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.6);
}

.title-img-pc > .second-title {
    margin-top: clamp(40px, 6vw, 150px);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 8vw, 60px);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.title-img-pc > b {
    margin-top: clamp(40px, 7vw, 150px);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(40px, 10vw, 200px);
    text-shadow: 5px 3px 2px rgba(0,0,0,0.6);
}

.front-img-pc {
    width: 130vw; 
    height: auto;
    position: absolute;
    left: -15vw; 
    bottom: -40%;
    z-index: 9;
}

.cielo-img-big-monitor{
    height: 100vh;
    width: 100vw;
    transform: rotate(180deg);
    z-index: 1;
}

.nuvola-img-big-monitor{
    position: absolute; 
    right: -10%; 
    top: -5%; 
    width: 75vw; 
    height: auto;
    z-index: 2;
}

.fog-2-img-big-monitor {
    position: absolute; 
    right: -10vw; 
    top: -20%; 
    width: 120vw; 
    height: auto;
    z-index: 3;
}

.secondo-piano-img-big-monitor {
    position: absolute;
    left: -10vw;
    bottom: -40%;
    width: 120vw;
    height: auto;
    z-index: 4;
}

.laghetto-img-big-monitor {
    position: absolute;
    left: -10vw; 
    bottom: -40%;
    width: 120vw;
    height: auto;
    z-index: 5;
}

.fog-1-img-big-monitor {
    position: absolute; 
    left: -20vw;
    bottom: -10vh; 
    width: 140vw; 
    height: auto;
    z-index: 6;
}

.sun-img-big-monitor {
    position: absolute;
    left: -50vw; 
    top: -30%;
    width: 120vw; 
    height: auto;
    transform: rotate(270deg);
    z-index: 7;
}

.title-img-big-monitor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    line-height: 0vh;
    z-index: 8;
}

.title-img-big-monitor > .first-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 10vw, 450px);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.6);
}

.title-img-big-monitor > .second-title {
    margin-top: clamp(40px, 6vw, 450px);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: clamp(40px, 8vw, 360px);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
}

.title-img-big-monitor > b {
    margin-top: clamp(40px, 7vw, 450px);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(40px, 10vw, 500px);
    text-shadow: 5px 3px 2px rgba(0,0,0,0.6);
}

.front-img-big-monitor {
    width: 130vw; 
    height: auto;
    position: absolute;
    left: -15vw; 
    bottom: -40%;
    z-index: 9;
}